<div class="post">
    <ion-item lines="none">
        <ion-avatar slot="start" (click)="detailUser(post.owner.id)">
            <ng-container *ngIf="post.owner.avatar; else elseTemplateAvatar">
                <ion-img [src]="post.owner.avatar"></ion-img>
                <!-- <h3>{{post.owner.first_name}} {{post.owner.last_name}}</h3> -->
            </ng-container>
            <ng-template #elseTemplateAvatar>
                <ion-img src="http://127.0.0.1:8000/media/imagenes/blog/Post/59c2bfff-3410-4631-a7a8-09c6fb03decf.jpg"></ion-img>
                <!-- <h3>{{post.owner.username}}</h3> -->
            </ng-template>

        </ion-avatar>
        <ion-label>

            <ng-container *ngIf="post.owner.first_name; else elseTemplate">
                <h3 (click)="detailUser(post.owner.id)">{{post.owner.first_name}} {{post.owner.last_name}}</h3>
            </ng-container>
            <ng-template #elseTemplate>
                <h3 (click)="detailUser(post.owner.id)">{{post.owner.username}}</h3>
            </ng-template>
            <small>
                <i>
                    <em>
                      {{fecha}}
                    </em>
                </i>
            </small>
        </ion-label>
        <ion-badge class="badge-en-venta" mode="ios"  *ngIf="post.precio > 0">En venta</ion-badge>
        <!-- <div class="more" > -->
        <ion-button (click)="lanzarMenu()" fill="clear">
            <!-- <ion-icon slot="icon-only" name="more-outline"></ion-icon> -->
            <ion-icon slot="icon-only" name="keypad"></ion-icon>

        </ion-button>
        <!-- </div> -->
    </ion-item>
    <ion-slides mode="ios" pager="ios" scrollbar="ios">


        <!-- <ion-slide class="image-slide" *ngFor="let imagen of post.post_imagen" [style]="imagen.imagen| domSanitizer">

        </ion-slide> -->
        
        <ion-slide class="image-slide" *ngFor="let imagen of post.post_imagen">
            <ion-img [src]="imagen.imagen" class="img-post" (click)="abrirImg(imagen.imagen)"></ion-img>
        </ion-slide>

    </ion-slides>

    <!-- mapa -->
    <!-- <app-mapa [coords]="post.coordenadas"></app-mapa> -->



    <ion-item lines="none">
        <!-- <ion-icon [style]=" liked | likes " slot="start" [name]="nameIcon" (click)="like(post.id)"></ion-icon>
        <ion-badge color="primary" mode="ios" slot="start">{{likes}} Me gusta</ion-badge>
        <ion-icon name="eye-outline" class="ion-margin"></ion-icon>
        <ion-badge color="primary" mode="ios">{{vista}} Vistas</ion-badge> -->
        <ion-icon [style]=" liked | likes " slot="start" class="margin-inline-end-15" [name]="nameIcon" (click)="like(post.id)"></ion-icon> 
        <ion-icon slot="start" name="chatbubbles-outline" class="margin-inline-end-15" mode="ios" (click)="detailPost(post.id)"></ion-icon>
        <ion-icon slot="start" name="paper-plane-outline" class="margin-inline-end-15" (click)="sharePost()"></ion-icon>
        <h1 class="precio" *ngIf="post.precio > 0">
            $ {{post.precio}}
        </h1>
        <ion-icon slot="end" name="bookmark-outline" class="margin-inline-end-15" (click)="savePost()"></ion-icon>
       
    </ion-item>
    <ion-item class="margin-top-botton">
        <ion-label class="margin-top-botton">
            {{likes}} Me gusta
        </ion-label>
        <br>
        <ion-label class="margin-top-botton" *ngIf="post.post_comentario.length === 0" (click)="detailPost(post.id)">
            No hay comentarios...
        </ion-label>
        <ion-label class="margin-top-botton" *ngIf="post.post_comentario.length === 1" (click)="detailPost(post.id)">
            Ver {{post.post_comentario.length}} comentario...
        </ion-label>
        <ion-label class="margin-top-botton" *ngIf="post.post_comentario.length > 1" (click)="detailPost(post.id)">
            Ver {{post.post_comentario.length}} comentarios...
        </ion-label>
    </ion-item>
   
    <ion-item lines="none">


        <p text-wrap class="truncateStyle">

            {{post.mensaje}}
        </p>
    </ion-item>
</div>