<div class="post">
    <ion-item lines="none">
        <ion-avatar slot="start">

            <ion-img [src]="post.owner.avatar"></ion-img>

        </ion-avatar>
        <ion-label>

            <ng-container *ngIf="post.owner.first_name; else elseTemplate">
                <h3>{{post.owner.first_name}} {{post.owner.last_name}}</h3>
            </ng-container>
            <ng-template #elseTemplate>
                <h3>{{post.owner.username}}</h3>
            </ng-template>
            <small>
                <i>
                    <em>
                        Publicado: {{fecha}}
                    </em>
                </i>
            </small>
        </ion-label>
        <!-- <div class="more" > -->
        <ion-button (click)="lanzarMenu()" fill="clear">
            <!-- <ion-icon slot="icon-only" name="more-outline"></ion-icon> -->
            <ion-icon slot="icon-only" name="keypad"></ion-icon>

        </ion-button>
        <!-- </div> -->
    </ion-item>
    <ion-slides mode="ios" pager="ios" scrollbar="ios">


        <!-- <ion-slide class="image-slide" *ngFor="let imagen of post.post_imagen" [style]="imagen.imagen| domSanitizer">

        </ion-slide> -->
        <ion-slide class="image-slide" *ngFor="let imagen of post.post_imagen">
            <ion-img [src]="imagen.imagen" class="img-post" (click)="abrirImg(imagen.imagen)"></ion-img>
        </ion-slide>


    </ion-slides>

    <!-- mapa -->
    <!-- <app-mapa [coords]="post.coordenadas"></app-mapa> -->



    <ion-item lines="none">
        <ion-icon class="ion-badge" slot="start" name="heart" (click)="like(post.id)"></ion-icon>
        <ion-badge color="primary" mode="ios" slot="start">{{likes}} Me gusta</ion-badge>
        <ion-icon name="eye-outline" class="ion-margin"></ion-icon>
        <ion-badge color="primary" mode="ios">{{vista}} Vistas</ion-badge>
    </ion-item>

    <ion-item lines="none">


        <p text-wrap class="truncateStyle">

            {{post.mensaje}}
        </p>
    </ion-item>
</div>