.post {
    margin-top: 10px;
    -webkit-box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.5);
}

.image-slide {
    width: 100%;
    height: 250px;
    // background-color: red;
    /* Full height */
    // height: 100%; 
    /* Imagen centrada y colocada de forma elegante */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.img {
    width: 100%;
    height: 100%;
}

.truncateStyle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.truncateStyle:active {
    overflow: visible;
}

.truncateStyle:hover {
    overflow: visible;
    white-space: initial;
}

.more {
    font-size: 25px !important;
    position: absolute;
    right: -10px;
    top: -18px;
}

.img-post {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

ion-slide {
    margin: 0px;
    padding: 0px;
}