<div class="post">
    <ion-item lines="none">
        <ion-avatar slot="start">

            <img src="{{post.owner.avatar}}" />

        </ion-avatar>
        <ion-label>

            <ng-container *ngIf="post.owner.first_name; else elseTemplate">
                <h3>{{post.owner.first_name}} {{post.owner.last_name}}</h3>
            </ng-container>
            <ng-template #elseTemplate>
                <h3>{{post.owner.username}}</h3>
            </ng-template>
            <h5>{{post.owner.email}}</h5>
        </ion-label>
        <!-- <div class="more" > -->
        <ion-button (click)="lanzarMenu()" fill="clear">
            <!-- <ion-icon slot="icon-only" name="more-outline"></ion-icon> -->
            <ion-icon slot="icon-only" name="keypad"></ion-icon>

        </ion-button>
        <!-- </div> -->
    </ion-item>
    <ion-slides mode="ios" pager="ios" scrollbar="ios">


        <ion-slide class="image-slide" *ngFor="let imagen of post.post_imagen" [style]="imagen.imagen| domSanitizer">

        </ion-slide>
        <!-- <ion-slide class="image-slide" *ngFor="let img of imagenes">
            <img src={{img}} alt="">
        </ion-slide> -->


    </ion-slides>

    <!-- mapa -->
    <!-- <app-mapa [coords]="post.coordenadas"></app-mapa> -->



    <ion-item lines="none">
        <ion-icon slot="start" name="heart-outline"></ion-icon>
        <ion-icon slot="end" name="bookmark"></ion-icon>
    </ion-item>
    <ion-item lines="none">
        <p text-wrap class="truncateStyle">
            {{post.mensaje}}
        </p>
    </ion-item>
</div>